main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timeline {
  position: relative;
  width: auto;
}

#line {
  position: absolute;
  left: calc(50% - 1px);
  height: 100%;
  width: 2px;
  background: darkred;
}

.end {
  display: block;
  margin: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: darkred;
}


.timeline-container {
  position: relative;
  margin: 50px 0;
  width: auto;
}

div.timeline-container p {
  background: darkred;
  color: white;
  padding: 1em;
  margin: 2em 0;
  width: auto;
  text-align: center;

}

div.timeline-container:nth-child(odd) p {
  position: relative;
  left: calc(50% + 1.5em);
  border-radius: 0 2em 2em 2em;
}

div.timeline-container:nth-child(even) p {
  position: relative;
  right: calc(50% + 1.5em);
  border-radius: 2em 0 2em 2em;
}

div.timeline-container h1 {
  position: absolute;
  font-size: 1em;
  color: darkred;
  margin-top: -27px;
}

div.timeline-container:nth-child(odd) h1 {
  left: calc(50% + 1.5em);
}

div.timeline-container:nth-child(even) h1 {
  right: calc(50% + 1.5em);
}

.node {
  position: absolute;
  margin-top: -32px;
  left: calc(50% - 1em);
  z-index: 1;
  height: 2em;
  width: 2em;
  background: radial-gradient(closest-side, darkred, darkred 15%, white 20%, white 45%, darkred 50%, darkred 60%, white 65%);
}

a[href] {
  margin: 20px 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  padding: 1em 1em 1em 2em;
  background-color: darkred;
  color: white;
  clip-path: polygon(0 48%, 20% 0, 100% 0, 100% 100%, 20% 100%, 0 51%);
  border-radius: 50% 0.5em 0.5em 50%/10% 0.5em 0.5em 10%;
  text-decoration: none;
  transition: left 1.5s;
}

a[href]:hover {
  left: -20px;
}